.footer {
    font-family: 'Inter', sans-serif;
    background-color: #3e3e3e99;
    opacity: 50%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 24px 16px 24px;
    gap: 16px;
}

.thx {
    font-size: 20px;
    text-align: center;
}

.credits,
.issue {
    /* background-color: red; */
    width: fit-content;
    height: fit-content;
}

img {
    width: 48px;
    height: 48px;
}

a {
    color: white;
}

a.highlite {
    color: #50A7FB;
}

.others {
    font-weight: 200;
    font-size: 15;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.reporting {
    /* background-color: green; */
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 24px;
    gap: 8px;
}

.credits {
    /* background-color: red; */
    text-align: right;
    line-height: 24px;
}

@media (max-width: 800px) {
    .others {
        flex-direction: column;
    }

    .reporting {
        width: 100%;
    }

    .credits {
        width: 100%;
    }
}
