.header {
    font-family: 'Inter', sans-serif;
    background-color: #3e3e3e99;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px 12px 6px 12px;
    align-items: center;
}

.logo
{
    width: 48px;
    height: 48px;
}

.report {
    width: 38px;
    height: 38px;
    opacity: 75%;
}

.branding-container {
    /* background-color: rebeccapurple; */
    width: fit-content;
    display: flex;
    flex-direction: row;
    font-size: 32px;
    font-weight: 600;
    cursor: pointer;
}

@media (max-width: 480px) {
    .name {
        display: none;
    }
}

@media (max-height: 480px) and (orientation: landscape) {
    .logo
    {
        width: 28px;
        height: 28px;
    }

    .report {
        width: 24px;
        height: 24px;
        opacity: 75%;
        cursor: pointer;
    }

    .branding-container {
        font-size: 18px;
    }

    #flashcard-title {
        font-size: 16px;
    }

    .right-elements {
        font-size: 14px;
    }
}