@font-face {
    font-family: "Inter";
    src: url("../assets/fonts/Inter-VariableFont_opsz\,wght.ttf") format('truetype')
}

html,
body {
    background-color: #0e1525;
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: "Inter", sans-serif;
}

.view-container {
    /* background-color: yellowgreen; */
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.center-container {
    /* background-color: green; */
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* #region CARD */
.flashcard-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 40rem;
    gap: 4px;
}

.question {
    background-color: #1c2333;
    color: white;
    width: 100%;
    text-align: left;
    padding: 30px 40px;
    border-radius: 18px;
    border: 1px solid orange;
    word-wrap: break-word;
    box-sizing: border-box;
}

.answer {
    background-color: #294a34;
    color: white;
    width: 100%;
    text-align: left;
    padding: 30px 40px;
    border-radius: 18px;
    border: 1px solid orange;
    word-wrap: break-word;
    box-sizing: border-box;
}

.navigation-container {
    display: flex;
    gap: .75vw;
}

.navigation-button {
    background-color: #0053a6;
    color: white;
    border: 1px solid white;
    padding: 8px;
    flex: 1;
}

.navigation-button:hover {
    background-color: #3279c0;
}

.navigation-button:disabled {
    background-color: #03203c;
    color: rgb(128, 126, 126);
    cursor: auto;
}

.prev {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    cursor: pointer;
}

.next {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    cursor: pointer;
}

/* #endregion */

/* #region HEADER */
.header {
    background-color: #3e3e3e99;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px 2vw;
    align-items: center;
}

.logo {
    width: 48px;
    height: 48px;
}

.fullscreen {
    width: 38px;
    height: 38px;
    opacity: 75%;
    cursor: pointer;
}

#flashcard-title {
    /* background-color: green; */
    font-size: 20px;
    text-align: center;
}

.branding-container {
    /* background-color: rebeccapurple; */
    width: fit-content;
    display: flex;
    flex-direction: row;
    font-size: 32px;
    font-weight: 600;
    cursor: pointer;
}

.right-elements {
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    font-size: 18px;
}

@media (max-width: 480px) {
    .name {
        display: none;
    }
}

@media (max-height: 480px) and (orientation: landscape) {
    .logo {
        width: 28px;
        height: 28px;
    }

    .fullscreen {
        width: 24px;
        height: 24px;
        opacity: 75%;
        cursor: pointer;
    }

    .branding-container {
        font-size: 18px;
    }

    #flashcard-title {
        font-size: 16px;
    }

    .right-elements {
        font-size: 14px;
    }
}

/* #endregion */